// Home Content

.home {

  .intro {

    h2 {
      padding: 15px;
    }

    p {
      padding:0 15px;
    }

    
    }

    .headerimg {
      @media @mobile {
        width: 100%;
      }
  
  }


  

  .space-images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    @media @mobile {
      flex-direction: column;
    }

    img {
      width: 28%;
      margin: 20px 2.5%;
      border-radius: 20px;
      height: 100%;

      @media @mobile {
        
        width: 92%;
        height: auto;
      }

      }

      .launch {
        @media @mobile {
          display: none;
        }
      }

      .sky {
        @media @mobile {
          display: none;
        }

        


    }
  }

  .visit-planets {
    padding: 15px;

    h3 {
      margin-top: 11px;
    }

    p {
      margin-top: 13px;
    }

    @media @mobile {
      padding: 1rem;
    }
  }

  .walk {
    margin-top: 60px;
    border-top: 1px solid @main-border-color;
    padding: 50px 60px;
    display: flex;
    justify-content: center;

    @media @mobile {
      flex-direction: column-reverse;
      width: 100%;
      padding: 3rem;
    }

    .walk-text {
      width: 50%;

      @media @mobile {
        width: 100%;
      }

      h3 {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 26px;
      }

      .btn {
        .signupbutton(@ebony-clay, white, 1.7rem, .6rem, 100px);
        padding: 1rem;
        text-align: center; 

        &:hover {
          background-color: lighten(@ebony-clay, 30%)
        }

        @media @mobile {
          width: 100%;
          padding: 2rem;
        }
      }
    }

    .walk-img {
      width: 46%;
      margin-left: 4%;

      @media @mobile {
        margin: auto;
        width: 100%;
      }
      
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;

        @media @mobile {
          padding-bottom: 1rem;
          border-radius: 2rem;
        }
      }
    }
  }
}// home



/*pages styling*/

.pageheader {
  color: orange; 
  padding: 2rem;
  text-align: center;
  font-size: 4rem;

}

.heading2 {
  color: green;
  font-size: 2rem;
  padding: .2rem;
  text-align: center;
}

.section {
  padding: 1rem;
  p {
    line-height: 3.8rem;
  }
  }

  .welcome {
    text-align: center;
    img {
      width: 80%;
    }

}

.signupinfo {
  display: flex;
  padding: 3rem;
  border-top: 2px solid grey; 
  border-bottom: 2px solid grey; 
  p {
    line-height: 4rem;
  }
}

.signupinfobox {
  margin: 2rem;
  width: 50%;

}

.theform {
  padding: 2rem;
  border-radius: 5rem;
  line-height: 2rem;
  font-weight: bold;
  background-color: rgb(237, 239, 240);
}

form {
  padding: 1rem;
  font-size: 1.38rem;
  text-align: center;
  font-weight: bold;

}