// Navigation code here

.top {
    .topheader();

    h1 {
        padding: 1rem;
        font-size: 4rem;
    }

    nav {
        padding: 1rem;
        a {
           .navlink();
        }
    }


}